@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&family=Roboto:ital@0;1&family=Syncopate:wght@400;700&family=Syne:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: rgb(252 231 243);
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: hsl(0, 0%, 14%)!important;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.navbar{
    background-color: rgb(251 207 232) !important;
    border-bottom: 2px solid white;
    
}

.nav-link{
    font-weight: bold;
    color:hsl(0, 0%, 14%) !important;

}

.nav-link:hover{
    color: rgb(246, 55, 87) !important;
    transition: 0.5s all ease-in-out;
    text-decoration: underline;
}

.pluggin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 55px;

}

.botones{
    margin-bottom: 25px;
}

footer{
    background-color: rgb(251 207 232) !important;
}

.bookContainer{
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: rgb(255 241 242);
    border-radius: 2%;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo img{
    max-width: 200px;
    min-width: 100px;
    border-radius: 2%;
    filter: drop-shadow(15px 1px 11px #C5C5C5);
}

footer{
    background-color: rgb(251 207 232) !important;
    color: hsl(0, 0%, 14%)!important;
}

